<header class="header">
  <h1 class="title"> Get weather from api</h1>
</header>
<main>
  <form class="widget-input">
    <input type="text" placeholder="input a city" [(ngModel)]="inputVal" name="city-adder">
    <input type="button"  value="add" (click)="addCity()"/>
  </form>
  <form class="wigget-filter" *ngIf="widgets.length > 0">
  <div class="search" *ngIf="widgets.length > 0">
    <input
      [(ngModel)]="filterVal"
      name="search-by-name"
      class="search__by-name"
      type="text"
      placeholder="start typing city name"
      (keyup)="onChangeSearch()"/>
  </div>
  </form>
  <div class="wether-list" *ngIf="widgets.length > 0">
    <div class="widget" *ngFor="let widget of filteredWidgets">
      <header>
        <h2>
          {{widget.name}}
        </h2>
      </header>
      <span class="sprite sprite-{{widget.weather[0].icon}}"></span>
      <section class="widget__main">
        <p>
          {{(widget.main.temp - 273).toFixed(2)}}&#176;C
        </p>
        <p>
          {{widget.weather[0].description}}
        </p>
        <p>wind: {{widget.wind.speed}} m/s
          <span class="arrow" style="transform: rotate({{widget.wind.deg}}deg)">&uArr;</span>
        </p>
      </section>
      <footer class="widget__footer">
        <input type="button"  (click)="refreshCity(widget.name)" class="btn-refresh"/>
        <input type="button"  (click)="deleteCity(widget.name)" class="btn-delete"/>
      </footer>
    </div>
    <div class="wether-list" *ngIf="widgets.length === 0">
      <h2> Add a new city</h2>
    </div>
  </div>
</main>
