<header class="header">
  <h1 class="title"> Get weather from api</h1>
</header>
<main>
  <form class="widget-input">
    <input type="text" placeholder="input a city" [(ngModel)]="inputVal" name="city-adder">
    <input type="button"  value="add" (click)="addCity()"/>
  </form>
  <form class="wigget-filter" *ngIf="widgets.length > 0">
  <div class="search" *ngIf="widgets.length > 0">
    <input
      [(ngModel)]="filterVal"
      name="search-by-name"
      class="search__by-name"
      type="text"
      placeholder="start typing city name"
      (keyup)="onChangeSearch()"/>
  </div>
  </form>
  <div class="wether-list" *ngIf="filteredWidgets.length > 0">
    <app-main-page-widget
      *ngFor="let widget of filteredWidgets"
      [data]=widget
    >
    </app-main-page-widget>
  </div>
  <div class="wether-list" *ngIf="widgets.length === 0">
    <h2> Add a new city</h2>
  </div>
</main>
